@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 58);
    box-shadow: 0 0 2px 3px rgb(27, 1, 121);
    font-family: "Josefin Sans", sans-serif;
}

.password-display {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(74, 209, 243);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    font-family: "Source Code Pro", monospace;
}

.password-display:hover {
    box-shadow: 0 0 2px 2px rgb(74, 153, 243);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "PT Sans", sans-serif;
}

button:hover {
    background-color: #0056b3;
}